footer
	.footer-block
		.container
			.row
				.col-sm-12.col-lg-12
					.logo_footer
						.img
							img(src="./img/logo-footer.png", alt="")
				.col-sm-6.col-lg-3.footer.card
					.card_title
						h4 công ty cổ phần bất động sản vivaomes
					.card_body
						ul
							li
								p 20 Đường Vườn Lài nói dài, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh
							li
								p Điện thoại: 02873066366
								p Email: info@vivahomes.vn 
				.col-sm-6.col-lg-3.footer.card
					.card_title
						h4 vivahomes
					.card_body
						ul
							li 
								a(href="#") Giới thiệu
							li 
								a(href="#") Sứ mệnh - tầm nhìn
							li
								a(href="#") Thư viện
							li
								a(href="#") Tuyển dụng
							li
								a(href="#") Liên hệ
				.col-sm-6.col-lg-3.footer.card
					.card_title
						h4 dự án
					.card_body
						ul
							li
								a(href="#") Happy One
							li 
								a(href="#") Happy One 1
							li
								a(href="#") Happy One 2
							li 
								a(href="#") Happy One 3

				.col-sm-6.col-lg-3.footer.card
					.card_title
						h4 tin tức
					.card_body
						ul
							li
								a(href="#") Tin thị trường
							li 
								a(href="#") Tin hoạt động
							li
								a(href="#") Tin Bất động sản
		.footer-bottom-wrapper
			.container
				.footer-bottom-wrapper_list
					.copy-right
						p Copyright © 2020 Viva Home Thiết kế website bởi Cánh Cam.
					.social-network-share
						.icon
							a(href="#")
								em.fab.fa-facebook-f
							a(href="#")
								em.fab.fa-youtube
