header
	.container-fuild
		.header-container
			<!-- Nút điều khiển menu mobile -->
			.header-container__toggle-menu
			<!-- Logo Đúc Nam Ninh -->
			.header-container__logo
				a(href="index.html")
					img(src="./img/logo-header.png", alt="")
			<!-- Language mobile -->
			#div-mobile
			<!-- Main menu -->
			.header-container__main-nav
				ul.nav-list
					li.nav-item
						a.nav-link(href="about-vivahome.html") GIỚI THIỆU
					li.nav-item
						a.nav-link(href="") DỰ ÁN
					li.nav-item
						a.nav-link(href="news-list.html") TIN TỨC
					li.nav-item
						a.nav-link(href="video.html") THƯ VIỆN
					li.nav-item
						a.nav-link(href="recruitment.html") TUYỂN DỤNG
					li.nav-item
						a.nav-link(href="contact.html") LIÊN HỆ
				#language-desktop
					.language.dropdown
						button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							a(href="")
								img(src="./img/language.png", alt="")
						.dropdown-menu(aria-labelledby='dropdownMenuButton')
							//- a.dropdown-item(href='#')
							//- 	img(src="./assets/icons/en.gif", alt="") 
							//- 	span EN
							//- a.dropdown-item(href="")
							//- 	img(src="./assets/icons/vn.gif", alt="") 
							//- 	span VN
				.phone-wrapper
					em.mdi.mdi-phone
					span 0898 997 456
				#search__desktop
					a.search.btn.btn__search(data-fancybox data-animation-duration="700" data-src="#searchfancybox" href="javascript:;")
						em.material-icons search
						