header
	.container.flex-space
		.header-wrapper-left
			.nav-brand
				a(href="index.html")
					img(src="./img/logo-header.png", alt="")
		.header-wrapper-right
			.wrapper-top.flex-end
				.mobile-toggle
					em.lnr.lnr-menu
			.wrapper-bottom
				ul.nav-menu-primary
					li
						a(href="about.html") GIỚI THIỆU
					li
						a(href="project.html") DỰ ÁN
					li
						a(href="news.html") TIN TỨC
					li
						a(href="active.html") THƯ VIỆN
					li
						a(href="recruitment.html") TUYỂN DỤNG
					li
						a(href="contact.html") LIÊN HỆ
					.language-wrapper
						.language-toggle
							.card_img_language
								.img
									img(src="./img/language.png", alt="")
							//- em.lnr.lnr-chevron-down
						ul.language-list
							li
								a(href="#") 
							li
								a(href="#") 
					.phone-wrapper
						em.mdi.mdi-phone
						span 0898 997 456
					.search-wrapper
						em.mdi.mdi-magnify
		.mobile-wrapper