section.block_project-list
	.container
		.block_title_project-list
			.head-title
				h1 	DỰ ÁN NỘI BẬC
		.row
			//- project-1
			.col-12.col-md-7.col-lg-8.project__item
				.card_img_project-list
					.img
						img(src="./img/project/duan-1.png", alt="")
			.col-12.col-md-5.col-lg-4.project__item
				.background
					.img 
						img(src="./img/project/vector-1.png", alt="")
				.content_project-list
					.title_project-list
						h2 happy one thạnh lộc
					.caption_project-list
						p Happy One Thạnh Lộc là Dự án căn hộ thông minh 4.0. Với định hướng đúng đắn và tâm huyết của CĐT Vạn Xuân Group dự án HAPPY ONE THẠNH LỘc được hướng đến công nghệ dành cho giới trẻ năng động, tri thức và thành đạt.
					.btn-view
						a(href="") xem thêm
						em.mdi.mdi-arrow-right
			//- project-2
			.col-12.col-md-5.col-lg-4.project__item
				.content_project-list
					.title_project-list
						h2 happy one 1
					.caption_project-list
						p Happy One Thạnh Lộc là Dự án căn hộ thông minh 4.0. Với định hướng đúng đắn và tâm huyết của CĐT Vạn Xuân Group dự án HAPPY ONE THẠNH LỘc được hướng đến công nghệ dành cho giới trẻ năng động, tri thức và thành đạt.
					.btn-view
						a(href="") xem thêm
						em.mdi.mdi-arrow-right
			.col-12.col-md-7.col-lg-8.project__item
				.card_img_project-list
					.img
						img(src="./img/project/duan-2.png", alt="")
			//- project-3
			.col-12.col-md-7.col-lg-8.project__item
				.card_img_project-list
					.img
						img(src="./img/project/duan-3.png", alt="")
			.col-12.col-md-5.col-lg-4.project__item
				.content_project-list
					.title_project-list
						h2 happy one 2
					.caption_project-list
						p Happy One Thạnh Lộc là Dự án căn hộ thông minh 4.0. Với định hướng đúng đắn và tâm huyết của CĐT Vạn Xuân Group dự án HAPPY ONE THẠNH LỘc được hướng đến công nghệ dành cho giới trẻ năng động, tri thức và thành đạt.
					.btn-view
						a(href="") xem thêm
						em.mdi.mdi-arrow-right
			//- project-4
			.col-12.col-md-5.col-lg-4.project__item
				.content_project-list
					.title_project-list
						h2 happy one 3
					.caption_project-list
						p Happy One Thạnh Lộc là Dự án căn hộ thông minh 4.0. Với định hướng đúng đắn và tâm huyết của CĐT Vạn Xuân Group dự án HAPPY ONE THẠNH LỘc được hướng đến công nghệ dành cho giới trẻ năng động, tri thức và thành đạt.
					.btn-view
						a(href="") xem thêm
						em.mdi.mdi-arrow-right
			.col-12.col-md-7.col-lg-8.project__item
				.card_img_project-list
					.img
						img(src="./img/project/duan-4.png", alt="")
