section.home-banner
	.container-fuild
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/banner-1.png", alt="")
					.caption
						.title-caption giá trị đích thực cho cuộc
						.text sống tiện nghi
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/banner-2.png", alt="")
					.caption
						.title-caption giá trị đích thực cho cuộc
						.text sống tiện nghi
				.swiper-slide
					.wrapper
						a
							img(src="./img/banner/banner-3.png", alt="")
					.caption
						.title-caption giá trị đích thực cho cuộc
						.text sống tiện nghi
			.swiper-pagination.home-banner-pagination