section.news-detail
	.container
		.row
			.col-lg-9
				.bottom-wrapper-news-detail
					time 17.06.2020
				.card_title-news-detail
					h1 "Săn" nhà rộng cho gia đình nhiều thế hệ
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
					p Nhu cầu đoàn viên mỗi ngày
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu
				.card_img_news-list
					.img
						img(src="./img/news-detail/news-detail-1.png", alt="")
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
					p Nhu cầu đoàn viên mỗi ngày
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu
				.card_img_news-list
					.img
						img(src="./img/news-detail/news-detail-2.png", alt="")
				.content_news-detail
					p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đống đường an cư là điều không dễ dàng.
					p Thực tế, nhu cầu này đang tăng khi nhiều gia đình đang tăng bổng có thêm thành viên mói, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để tiện chăm sóc hoặc không ít bậc ông bà đến tuổi hưu trí mưu sống gần gủi con cháu....
			.col-lg-3
				.right-news
					.card-title-right
						h2 Các tin khác
					.card_body
						.img 
							img(src="./img/news-detail/right-news-1.png", alt="")
						.content_news_detail_right
							.bottom-wrapper-news-detail
								time 17.06.2020
							.title_news_right
								a.lcl.lcl-3(href="") Trải nghiệm tổ hợp tiện ích trên đỉnh toàn cao ốc Happy One
					.card_body
						.img 
							img(src="./img/news-detail/right-news-2.png", alt="")
						.content_news_detail_right
							.bottom-wrapper-news-detail
								time 17.06.2020
							.title_news_right
								a.lcl.lcl-3(href="") "Săn" nhà rộng cho gia đình nhiều thế hệ
					.card_body
						.img 
							img(src="./img/news-detail/right-news-3.png", alt="")
						.content_news_detail_right
							.bottom-wrapper-news-detail
								time 17.06.2020
							.title_news_right
								a.lcl.lcl-3(href="") Vạn Xuân Group sắp tung ra thị trường 2.000 căn hộ trung
					.card_body
						.img 
							img(src="./img/news-detail/right-news-4.png", alt="")
						.content_news_detail_right
							.bottom-wrapper-news-detail
								time 17.06.2020
							.title_news_right
								a.lcl.lcl-3(href="") Bất động sản quận 12 đón sóng đầu tư đầu năm 2020
					.card_body
						.img 
							img(src="./img/news-detail/right-news-5.png", alt="")
						.content_news_detail_right
							.bottom-wrapper-news-detail
								time 17.06.2020
							.title_news_right
								a.lcl.lcl-3(href="") Bất động sản quận 12 đón làn sóng dịch chuyển dân cư