section.block_project
	.container
		.block_title_project
			.head-title
				h1 dự án nổi bậc
		.row
			.col-lg-12
				.project-swiper-wrapper
					.nav-arrow-prev
						em.mdi.mdi-arrow-left
					.nav-arrow-next
						em.mdi.mdi-arrow-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a(href="")
									.img.shine 
										img(src="./img/index-duan/duan-1.png", alt="")
									.content_project
										.title
											h2 happy one thạnh lộc
										.text
											p là sản phẩm căn hộ công nghệ hiện đại bậc nhất lần đầu xuất hiện tại thị trường bất động sản Q12. Căn hộ hứa hẹn sẽ là chốn an cư, làm việc lý tưởng của các cặp gia đình trẻ
										.btn-view
											a(href="") chi tiết
											em.mdi.mdi-arrow-right