.head-title
    h1
        font-size: 36px
        color: #005c90
        text-transform: uppercase
    h2
        font-size: 36px
        color: #005c90
        text-transform: uppercase

.head-menu
    display: flex
    align-items: center
    justify-content: center
    padding-top: 10px
    @media screen and ( max-width:  1024.98px)
        overflow-x: auto
        justify-content: flex-start
        
    ul 
        list-style: none
        padding: 0
        display: flex
        @media screen and ( max-width:  1024.98px)
            display: flex
            justify-content: flex-start
            align-items: center
            white-space: nowrap
            
        li 
            padding-right: 30px
            padding-bottom: 10px
            a 
                font-size: 12px
                font-weight: 700
                font-weight: 500
                text-transform: uppercase
                &:hover
                    color: #ef3b39
                    border-bottom: 2px solid #ef3b39
                    padding: 10px
        @media screen and ( max-width:576px)
            display: flex
            align-items: center
            justify-content: flex-start
            li 
                text-align: center

.block_title_library
    display: flex
    justify-content: space-between
    padding-bottom: 35px
    .head-title
        h1
            font-size: 34px
    @media screen and ( max-width: 576px )
        .head-title
            h1
                font-size: 20px
    .head-title-zone
        display: flex
        justify-content: center
        align-items: center
        ul
            list-style: none
            padding: 0
            display: flex
            li
                padding-left: 10px
                &:nth-child(1)
                    border-right: 1px solid #e0e0e0
                    padding-right: 10px
                a
                    color: #666666
                    font-size: 16px
                    &:hover
                        color: #ed202e
                        border-bottom: 1px solid #ed202e
.tab-wrapper
    .tab-item
        display: none
        &.active
            display: block

.link-to-section
    ul
        list-style-type: none
        padding: 0
        li
            display: inline-block
            &:not(:last-child)
                margin-right: 10px
            &.active
                a
                    color: #0b6528
                    text-decoration: underline
            a
                display: inline-block
                padding: 10px 0
                font-weight: 600
                color: #333333