section.head-about
	.container
		.head-menu
			ul 
				li 
					a(href="") về viva home
				li 
					a(href="") tầm nhìn
				li 
					a(href="") sứ mệnh
				li 
					a(href="") giá trị cốt lõi
				li 
					a(href="") mục tiêu chiến lượt

section.about-viva-1
	.container
		.title_about
			.head-title
				h1 về viva home
			.text_about_viva
				p Viva Homes luôn mang đến cho khách hàng sự lựa chọn tốt hơn về các dòng sản phẩm bất động sản. Với tầm nhìn dài hạn và quan điểm phát triển bền vững, VivaHomes đã tập trung đầu tư vào lĩnh vực phân lô bán nền và nhà phố xây dựng sẵn.
		.row.no-gutters
			.col-12.col-md-6.col-lg-5.bg_about.bg_about
				.card_img_about
					.img
						img(src="./img/gioithieu/about-1.png", alt="")
			.col-12.col-md-6.col-lg-7.bg_about.bg_about
				.content_about-viva
					.card_img
						.img
							img(src="./img/about-viva/vision.png", alt="")
					.card_title_about
						h2 tầm nhìn
					.caption_about
						p Trở thành công ty bất động sản uy tín, chuyên nghiệp và thu hút nhất trên thị trường bất động sản trong và ngoài nước.

section.about-viva-2
	.container
		.row
			.col-12.col-md-6.col-lg-4
				.title_mission
					.card_title_about
						h2 sứ mệnh
			.col-12.col-md-6.col-lg-4
				.list-item-about
					.card_img_icon_viva-2
						.img
							img(src="./img/about-viva/icon-1.png", alt="")
					.list_item_caption
						.card_title_icon
							h3.line với khách hàng
						.caption_icon
							p Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất.
			.col-12.col-md-6.col-lg-4
				.list-item-about
					.card_img_icon_viva-2
						.img
							img(src="./img/about-viva/icon-2.png", alt="")
					.list_item_caption
						.card_title_icon
							h3.line với cổ đông
						.caption_icon
							p Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất.
			.col-12.col-md-6.col-lg-4
				.list-item-about
					.card_img_icon_viva-2
						.img
							img(src="./img/about-viva/icon-3.png", alt="")
					.list_item_caption
						.card_title_icon
							h3.line với đối tác
						.caption_icon
							p Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất.
			.col-12.col-md-6.col-lg-4
				.list-item-about
					.card_img_icon_viva-2
						.img
							img(src="./img/about-viva/icon-4.png", alt="")
					.list_item_caption
						.card_title_icon
							h3.line với nhân viên
						.caption_icon
							p Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất.
			.col-12.col-md-6.col-lg-4
				.list-item-about
					.card_img_icon_viva-2
						.img
							img(src="./img/about-viva/icon-5.png", alt="")
					.list_item_caption
						.card_title_icon
							h3.line với xã hội
						.caption_icon
							p Cung cấp cho khách hàng những sản phẩm chất lượng, đa dạng và dịch vụ thương mại tốt nhất.

section.about-viva-3
	.container
		.row
			.col-12.col-md-6.col-lg-6
				.item_value_about-viva-3
					.card_img_viva-3
						.img
							img(src="./img/about-viva/icon-7.png", alt="")
					.card_title_about
						h2 giá trị cốt lõi
					.caption_about-viva-3
						p Sản phẩm chất lượng - Giá cả cạnh tranh
				.item_product_about-viva-3
					.card_img_viva-3
						.img
							img(src="./img/about-viva/icon-6.png", alt="")
					.card_title_about
						h2 mục tiêu - chiến lượt
					.caption_about-viva-3
						p Để giữ được sự tăng trưởng ổn định và bứt phá trong thời gian tới, Viva Homes tiếp tục mở rộng qui mô đầu tư kinh doanh các dự án nhà ở cao cấp, dự án chung cư cao tầng, dự án ở xã hội, khu đô thị... đảm bảo cho Công ty có tiềm lực kinh tế mạnh, đủ sức để cạnh tranh với các doanh nghiệp trong nước, trong khu vực và chuẩn bị nguồn lực sãn sàng bước chân ra thị trường bất động sản thế giới
			.col-12.col-md-6.col-lg-6
				.big_img_viva-3
					.img
						img(src="./img/about-viva/about-3.png", alt="")
