section.library_image
	.container
		.block_title_library
			.head-title
				h1 thư viện
			.head-title-zone
				ul
					li
						a(href="") Thư viện ảnh
					li
						a(href="") Video
		.row
			.col-lg-6
				.block-item
					.item__img
						a(href="")
							img(src="./img/thuvienanh/images-big-1.png", alt="")
							.img_icon
								em.material-icons photo
					.item__img-hover
						.content
							.desc
								h4 Tổng quan dự án Happy One Thạnh Lộc
								.icon
									em.material-icons photo
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-1.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-2.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-3.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-4.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
	.container
		.row
			.col-lg-6.news_image_left
				.row
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-1.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-2.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-3.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
					.col-12.col-md-6.col-lg-6
						.block-item
							.item__img
								a(href="")
									img(src="./img/thuvienanh/images-small-4.png", alt="")
									.img_icon
										em.material-icons photo
							.item__img-hover
								.content
									.desc
										h5 Tổng quan dự án Happy One Thạnh Lộc
										.icon
											em.material-icons photo
			.col-lg-6
				.card_img_news_image_right
					.block-item
						.item__img
							a(href="")
								img(src="./img/thuvienanh/images-big-1.png", alt="")
								.img_icon
										em.material-icons photo
						.item__img-hover
							.content
								.desc
									h4 Tổng quan dự án Happy One Thạnh Lộc
									.icon
											em.material-icons photo