block var

doctype html

html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		//- link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=vietnamese', rel='stylesheet')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

		title #{title}

	body(class=bodyClass)
		block header
			include ../components/_global/header.pug
		main
			block main
		block footer
			include ../components/_global/footer.pug
		include ../components/_global/back_to_top.pug
		#searchfancybox.searchbox(style='display: none;')
			.container
				.content
					.form-group
						input.form-control(type="text" placeholder="Tìm sản phẩm...")
						button.searchbutton.btn.btn__search
							em.material-icons search
		script(src="./js/core.min.js")
		script(src="./js/main.min.js")
