extends _layout.pug

block var
	- var title = 'GIỚI THIỆU'
	- var bodyClass = 'about-vivahome-page'
block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/about-vivahome/index.pug