extends _layout.pug

block var
	- var title = 'TIN TỨC CHI TIẾT'
	- var bodyClass = 'news-detail-page'
block main
	include ../components/breadcrumb/index.pug
	include ../components/news-list/news-detail/index.pug