extends _layout.pug

block var
	- var title = 'DỰ ÁN CHI TIẾT'
	- var bodyClass = 'project-detail-page'
block main
	include ../components/breadcrumb/index.pug
	include ../components/project/project-detail/index.pug