extends _layout.pug

block var
	- var title = 'DỰ ÁN'
	- var bodyClass = 'project-page'
block main
	include ../components/top-banner/index.pug
	include ../components/breadcrumb/index.pug
	include ../components/project/index.pug