extends _layout.pug

block var
	- var title = 'TUYỂN DỤNG CHI TIẾT'
	- var bodyClass = 'recruitment-detail-page'
block main
	include ../components/breadcrumb/index.pug
	include ../components/recruitment/recruitment-detail/index.pug