section.block_news-list
	.container
		.block_title_news-list
			.head-title
				h1 tin tức mới nhất
		.row
			.col-12.col-md-12.col-lg-6
				.big_img_news-list
					.img
						img(src="./img/news-list/news-1.png", alt="")
				.card_body
					a(href="")
						.content_news-list
							.card_title_news-list
								a(href="") "Săn" nhà rộng cho gia đình nhiều thế hệ
							.card_title_zone_news-list
								p Trước thực trạng khan hiếm nguồn cung cấp sản phẩm bất động sản còn kéo dài như hiện nay, mong muốn có một căn hộ phù hợp để tam đại đồng đường an cư là điều không dễ dàng.
								p Thực tế nhu cầu này đang tăng khi nhiều gia đình bổng có thêm thành viên mới, hoặc con cái ước nguyện đón cha mẹ lớn tuổi về ở chung để
			.col-lg-6
				.row
					.col-12.col-md-6.col-lg-6
						a(href="")
							.bottom-wrapper-news-detail
								time 17.06.2020
							.new-img
								.img.opacity 
									img(src="./img/news-list/news-2.png", alt="")
					.col-12.col-md-6.col-lg-6
						a(href="")
							.content_small_news-list
								.title_news-list
									a(href="") Trải nghiệm tổ hợp tiện ích trên đỉnh toàn cao ốc Happy One
								.title_zone_news-list
									p Không chỉ sở hữu vị trí đẹp, tầm nhìn riêng tư, tháng đãng, dự án St.Moritz còn mang đến cho cư dân không gian thư giãn độc đáo với các tiện ích đẳng cấp và hưởng thụ vẻ đẹp toàn thành
					.col-12.col-md-6.col-lg-6
						a(href="")
							.bottom-wrapper-news-detail
								time 17.06.2020
							.new-img
								.img.opacity 
									img(src="./img/news-list/news-2.png", alt="")
					.col-12.col-md-6.col-lg-6
						a(href="")
							.content_small_news-list
								.title_news-list
									a(href="") Trải nghiệm tổ hợp tiện ích trên đỉnh toàn cao ốc Happy One
								.title_zone_news-list
									p Không chỉ sở hữu vị trí đẹp, tầm nhìn riêng tư, tháng đãng, dự án St.Moritz còn mang đến cho cư dân không gian thư giãn độc đáo với các tiện ích đẳng cấp và hưởng thụ vẻ đẹp toàn thành

section.block_small_news-list
	.container
		.row
			.col-6.col-md-6.col-lg-4
				.bottom-wrapper-news-detail
					time 17.06.2020
				.news_small_img
					.img
						img(src="./img/news-list/news-4.png", alt="")
				.card_body_small_img
					.title_small_news
						a(href="") Bất động sản quận 12 đón làn sóng dịch chuyển dân cư
					.title_zone_small_news
						p Quận 12 xuất hiện nhiều dự án nhà ở chất lượng, đón xu hướng dịch chuyển từ nội thành TP HCM ra vùng ven.
			.col-6.col-md-6.col-lg-4
				.bottom-wrapper-news-detail
					time 17.06.2020
				.news_small_img
					.img
						img(src="./img/news-list/news-5.png", alt="")
				.card_body_small_img
					.title_small_news
						a(href="") Bất động sản quận 12 đóng sóng đầu năm 2020
					.title_zone_small_news
						p Quận 12, TP HCM là điểm đến mới của nhà đầu tư khi nhu cầu sở hữu nhà ở phân khúc căn hộ trung cấp bắt đầu tăng mạnh gần đây.
			.col-6.col-md-6.col-lg-4
				.bottom-wrapper-news-detail
					time 17.06.2020
				.news_small_img
					.img
						img(src="./img/news-list/news-6.png", alt="")
				.card_body_small_img
					.title_small_news
						a(href="") Vạn Xuân Group sắp tung ra thị trường 2.000 căn hộ trung cao cấp
					.title_zone_small_news
						p Doanh nghiệp đang triển khai nhiều dự án ở TP HCM, Bình Dương, Đồng Nai... bổ sung nguồn cung cấp đang thiếu cho thị trường
			.col-6.col-md-6.col-lg-4
				.bottom-wrapper-news-detail
					time 17.06.2020
				.news_small_img
					.img
						img(src="./img/news-list/news-7.png", alt="")
				.card_body_small_img
					.title_small_news
						a(href="") Khu căn hộ Happy One - Phú Hòa cất nóc vượt tiến độ 3 tháng
					.title_zone_small_news
						p Dự án hoàn thành thi công phần, vượt tiến độ xây dựng hơn 3 tháng và chuẩn bị hoàn thiện để bàn giao vào quý 1/2021
			.col-6.col-md-6.col-lg-4
				.bottom-wrapper-news-detail
					time 17.06.2020
				.news_small_img
					.img
						img(src="./img/news-list/news-8.png", alt="")
				.card_body_small_img
					.title_small_news
						a(href="") Khu căn hộ Happy One - Phú Hòa cất nóc vượt tiến độ 3 tháng
					.title_zone_small_news
						p Dự án hoàn thành thi công phần, vượt tiến độ xây dựng hơn 3 tháng và chuẩn bị hoàn thiện để bàn giao vào quý 1/2021
			.col-6.col-md-6.col-lg-4
				.bottom-wrapper-news-detail
					time 17.06.2020
				.news_small_img
					.img
						img(src="./img/news-list/news-9.png", alt="")
				.card_body_small_img
					.title_small_news
						a(href="") Khu căn hộ Happy One - Phú Hòa cất nóc vượt tiến độ 3 tháng cao cấp
					.title_zone_small_news
						p Dự án hoàn thành thi công phần, vượt tiến độ xây dựng hơn 3 tháng và chuẩn bị hoàn thiện để bàn giao vào quý 1/2021
