section.block_news-list
	.container
		.block_title_news-list
			.head-title
				h1 tin tức mới nhất
		.row
			.col-lg-6
				.card-body
						a(href="")
							.img.shine 
								img(src="./img/tin-tuc/news-1.png", alt="")
							.content
								em.mdi.mdi-clock-outline
								time 11.05.2020
								h2 Lắp đặt đồng hồ đo áp suất đúng cách
								p Đồng hồ áp suất phải lắp đặt đúng cách để đảm bảo độ bền và độ chính xác của đồng hồ. Đồng hồ phải lắp đặt tại mội trường có sự tiếp xúc với nhiệt và rung...