section.block_video
	.container
		.block_title_video
			.head-title
				h1 thư viện
			.head-title-zone
				ul
					li
						a(href="") Thư viện ảnh
					li
						a(href="") Video
		.row
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-1.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Tổng quan dự án Happy One
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-2.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Flycam căn hộ HAPPY ONE
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-3.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Tuyến đường hướng sân bây
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-4.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Toàn cảnh dự án
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-5.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Nội khu phức hợp DEF
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-6.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Flycam căn hộ HAPPY ONE
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-7.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Khu biệt thự
			.col-12.col-md-6.col-lg-3
				.figure-media
					.figure-image.media-play
						.wrapper
							a(data-fancybox='gallery', href='https://www.youtube.com/watch?v=_sI_Ps7JSEk')
								img(src="./img/video/video-8.png", alt="")
						.caption
							.icon
								img(src="./img//video/play-icon.png", alt="")
					.content_video
						.bottom-wrapper-news-detail
							time 17.06.2020
						.title_video
							a(href="") Tiện ích quanh Căn hộ
