section.block_hr_1
    .container
        .block_title_hr
            .head-title
                h1 TUYỂN DỤNG
        .row
            .col-lg-6
                .card_img_hr
                    .img
                        img(src="./img/tuyendung/hr_1.png", alt="")
            .col-lg-6
                .background
                    .img 
                        img(src="./img/tuyendung/vector_hr.png", alt="")
                .content_hr
                    .card_title_hr
                        h2 Chính sách
                    .caption_hr
                        p Viva Home luôn nổ lực hết mình cho sự nghiệp phát triển cho mỗi cá nhân, giúp từng cá nhân phát huy hết khả năng và đạt được thành công bằng cách tạo ra môi trường làm việc thoải mái, hiện đại và nhiều tính sáng tạo xây dựng các hoạt động đào tạo, bồi dưỡng nhằm giữ chân CBVN lâu dài xấy dựng các chính sách thu hút nhân tài thông qua chính sách lương, thường đặc biệt cạnh tranh.

section.block_hr_2
    .container
        .block_title_hr
            .head-title
                h2 PHÚC LỢI - ĐÀO TẠO
        .row
            .col-6.col-md-6.col-lg-3
                .education
                    .card_img
                        .img
                            img(src="./img/tuyendung/icon_hr_1.png", alt="")
                    .education_content
                        ul
                            li
                                strong Lương, Thưởng
                                p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome
            .col-6.col-md-6.col-lg-3
                .education
                    .card_img
                        .img
                            img(src="./img/tuyendung/icon_hr_2.png", alt="")
                    .education_content
                        ul
                            li
                                strong Đào Tạo
                                p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome
            .col-6.col-md-6.col-lg-3
                .education
                    .card_img
                        .img
                            img(src="./img/tuyendung/icon_hr_3.png", alt="")
                    .education_content
                        ul
                            li
                                strong Bảo Hiểm
                                p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome
            .col-6.col-md-6.col-lg-3
                .education
                    .card_img
                        .img
                            img(src="./img/tuyendung/icon_hr_4.png", alt="")
                    .education_content
                        ul
                            li
                                strong Du Lịch
                                p Mức thu nhập cao, thưởng các khoản phụ cấp hẫn khác cùng chế độ đãi ngộ dành cho nhân viên là một trong những phúc lợi thế khi làm việc tại Vivahome


section.block_hr_3
    .container
        .block_title_hr
            .head-title
                h2 VỊ TRÍ TUYỂN DỤNG
        .row
            .col-lg-12
                .card-body
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col') STT
                                |
                                th(scope='col') VỊ TRÍ TUYỂN DỤNG
                                |
                                th(scope='col') SỐ LƯỢNG
                                |
                                th(scope='col') SỐ LƯỢNG
                                |
                                th(scope='col') HẠN NỘP
                            |
                        
                        tbody
                            tr
                                td 1
                                |
                                td 
                                    a(href="recruitment-detail.html") Nhân viên kỹ thuật dịch vụ
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 2
                                |
                                td 
                                    a(href="recruitment-detail.html") Nhân viên thu mua
                                |
                                td 02
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 3
                                |
                                td 
                                    a(href="recruitment-detail.html") Trưởng phòng marketing
                                |
                                td 07
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 4
                                |
                                td 
                                    a(href="recruitment-detail.html") Kế toán viên
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 5
                                |
                                td 
                                    a(href="recruitment-detail.html") Lập trình viên
                                |
                                td 05
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 6
                                |
                                td 
                                    a(href="recruitment-detail.html") Hành chính văn phòng
                                |
                                td 10
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 7
                                |
                                td 
                                    a(href="recruitment-detail.html") Trưởng phòng kinh doanh
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 8
                                |
                                td 
                                    a(href="recruitment-detail.html") Nhân viên kỹ thuật dịch vụ
                                |
                                td 01
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 9
                                |
                                td 
                                    a(href="recruitment-detail.html") Nhân viên thu mua
                                |
                                td 02
                                |
                                td TP.HCM
                                |
                                td 30/06/2020
                            |
                            tr
                                td 10
                                |
                                td 
                                    a(href="recruitment-detail.html") Trưởng phòng marketing
                                |
                                td 02
                                |
                                td TP.HCM
                                |
                                td 30/06/2020

