section.hr-detail
	.container
		.row
			.col-lg-9
				.bottom-wrapper-news-detail
					time 30.6.2020
				.card_title_hr_detail
					h1 phó giám đốc kinh doanh sàn BĐS
					.social-network-share
						.icon
							a(href="#")
								em.fab.fa-facebook-f
							a(href="#")
								em.fab.fa-twitter
				.card_body_hr_detail
					table.table.table-striped
						tbody
							tr
								th(scope='row') Khu vực
								|
								td :Thành Phố TP.HCM
							|
							tr
								th(scope='row') Hình thức
								|
								td :Toàn thời gian cố định
							|
							tr
								th(scope='row') Giới tính
								|
								td :Nam/Nữ
							|
							tr
								th(scope='row') Trình độ
								|
								td :Tốt nghiệp Đại Học
							|
							tr
								th(scope='row') Mức lương
								|
								td :30.000.000 - 40.000.000 vnđ
							|
							tr
								th(scope='row') Số lượng
								|
								td :01
							|
							tr
								th(scope='row') Hạn nộp
								|
								td :30/06/2020

				//- MÔ TẢ CÔNG VIỆC
				.hr_list_content
					.hr-detail_content
						h3 Mô tả công việc
					.text
						ul
							li 
								p Làm việc tại Công Ty Cổ Phần BĐS Viva Homes.
							li 
								p Tham mưu cho giám đốc về định hướng, chiến lược phát triển; thiết lập mục tiêu kinh doanh của Công Ty trong lĩnh vực kinh doanh, đầu tư bất động sản.
							li 
								p Hỗ trợ Giám đốc xây dựng kế hoạch kinh doanh hàng năm/ và báo cáo cho cấp trên theo quy định.
							li 
								p Tìm kiếm và phát triển cho dự án mới; tìm hiểu thị trường; nghiên cứu, cập nhật các quy định mới của pháp luật về các quy chế đất đai 
							li 
								p Nghiên cứu thị trường mở bán, thuê các dự án, sản phẩm trong quá trình đầu tư, SXXD của Công ty cũng như nhu cầu hợp tác, đầu tư và các nguồn hàng, đối tác trong và ngoài nước phù hợp
							li 
								p Với lĩnh vực SXXD, đầu tư của Công ty để xúc tiến, hợp tác đầu tư 
					//- Các chi tiêu
					.hr-detail_content
						h3 Thời gian làm việc
					.text
						ul
							li 
								p Làm giờ hành chính, từ 08 giờ - 17 giờ (nghỉ trưa 60 phút)
							li 
								p Ngày thứ 7 làm và nghỉ luân phiên (1 thứ bảy làm cả ngày và 1 thứ bảy nghỉ cả ngày)

					//- YÊU CẦU
					.hr-detail_content
						h3 Quyền lợi
					.text
						ul
							li 
								p Mức lương: thỏa thuận và tương xứng với năng lực.
							li 
								p Được làm việc trong môi trường thân thiện, năng động, cầu tiến, đảm bảo đầy đủ các trang thiết bị, vật dụng.... phục vụ tốt nhất công việc
							li 
								p Được đào tạo, nâng cao về chuyên môn, kỹ năng làm việc và phụ phục các kỹ năng mềm khác
							li
								p Tham gia đầy đủ BHXH, BHYT, BHTN theo quy định của pháp luật
							li
								p Chế độ phúc lợi khác theo quy định của Công ty; chế độ nghỉ mát, phép năm.
							li
								p Thưởng tháng lương 13,14,15 (tùy theo kết quả SXXD của Công ty)
					//- YÊU CẦU HỒ SƠ
					.hr-detail_content
						h3 Yêu cầu khác
					.text
						ul
							li 
								p Giới tính: Nam/Nữ. Có đủ sức khỏe làm việc
							li 
								p Độ tuổi từ 30/40
							li
								p Tốt nghiệp Đại học trở lên chuyên ngành kinh tế, Marketing, Quản trị kinh doanh, Xây dựng...
							li
								p Có kinh nghiệm, kinh nghiệm chuyên môn trong lĩnh vực đầu tư bất động sản.
							li
								p Có kinh nghiệm từ 03 năm trở lên ở vị trị tương đương
							li
								p Có kỹ năng lãnh đạo, lập kế hoạch, kiểm soát.
							li
								p Có kỹ năng giao tiếp, đàm phán, thuyết phục tốt.
							li
								p Có kiến thức sâu rộng lĩnh vực liên quan
							li
								p Có tinh thần trách nhiệm cao với công việc, chịu áp lực cao trong công việc
					.hr-detail_content
						h3 HỒ SƠ 
					.text
						ul
							li 
								strong Ứng viên ghi rõ vị trí dự tuyển và nộp hồ sơ qua 1 trong 2 cách sau đây:
							li 
								span 1) Gửi CV (Ghi rõ quá trình công tác và công việc đã làm) và scan bằng cấp qua email: info@vivahomes.com.vn. Bộ phận tuyển dụng sẽ chủ động liên lạc để xếp lịch phỏng vấn với các ứng viên phù hợp.
							li 
								span 2) Nộp hồ sơ trực tiếp tại trụ sở Công Ty: 20 Đường Vườn Lài nối dài, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh.
								span Lưu ý: Chỉ cần nộp bản photo (Bộ phận Tuyển dụng không trả lại bộ hồ sơ).
							li 
								span => Khi phỏng vấn đạt sẽ bổ sung hồ sơ đầy đủ theo quy định: SYLL(Chứng thực); CMND/CCCD(sao y); Hộ khẩu, bằng cấp(sao y); Giấy khám sức khỏe(bản chính); và các hồ sơ khác(tùy theo yêu cầu của từng đơn vị trí công việc)
								span Hạn nộp hồ sơ: 20/7/2020-15/8-2020
						.caption_hr_detail
							p Mọi thông tin chi tiết xin vui lòng liên hệ:
							h4 CÔNG TY CỔ PHẦN BẤT ĐỘNG SẢN VIVA HOMES
							p
								strong Trụ sở chính
								span : 20 Đường Vường Lài nói dài, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh
							p
								strong Điện thoại
								span : (+84) 2873 066 366
							p
								strong Email
								span : info@vivahomes.com.vn
							p
								strong website
								span : vivahomes.com.vn

			.col-lg-3
				.form_apply_hr_detail
					.apply-form
						.btn.button-apply
							a(href="") Ứng tuyển ngay
						.btn.button-download
							a(href="") Tải form ứng tuyển
				.right-hr-detail
					.card-title-right
						h2 Vị trí khác
					.content_hr_detail_right
						.hr_detail_right_list
							ul
								li
									.title_hr_detail_right
										a(href="") Chuyên viên kinh doanh
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") Trưởng phòng kinh doanh
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") Trưởng phòng CNTT
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") Chuyên viên kế toán
									.date
										time 30/06/2020
								li
									.title_hr_detail_right
										a(href="") NV thiết kế quy hoạch
									.date
										time 30/06/2020