section.block_news
	.container
		.news-swiper-wrapper
			.block_title_news
				.head-title
					h1 tin tức mới nhất
			.home-news-swipper-wrapper
				.nav-arrow-prev
					em.mdi.mdi-arrow-left
				.nav-arrow-next
					em.mdi.mdi-arrow-right
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.bottom-wrapper-news-detail
						time 17.06.2020
					.wrapper
						a(href="")
							.img.shine 
								img(src="./img/index-tintuc/tintuc-1.png", alt="")
							.content
								.title_news
									a(href="") Bật động sản quận 12 đón làn sóng dịch chuyển dân cư
								.title_zone_news
									p Quận 12 xuất hiện nhiều dự án nhà ở chất lượng, đón đầu xu hướng dịch chuyển từ nội thành TP.HCM ra vùng ven
				.swiper-slide
					.bottom-wrapper-news-detail
						time 17.06.2020
					.wrapper
						a(href="")
							.img.shine 
								img(src="./img/index-tintuc/tintuc-2.png", alt="")
							.content
								.title_news
									a(href="") Bật động sản quận 12 đón sóng đầu tư đầu năm 2020
								.title_zone_news
									p Quận 12, TP.HCM là điểm đến mới của nhà đầu tư khi nhu cầu sở hữu nhà ở, nhất là phân khúc căn hộ cao cấp bắt đầu tăng mạnh gần đây.
				.swiper-slide
					.bottom-wrapper-news-detail
						time 17.06.2020
					.wrapper
						a(href="")
							.img.shine 
								img(src="./img/index-tintuc/tintuc-3.png", alt="")
							.content
								.title_news
									a(href="") Vạn Xuân Group sắp tung ra thị trường 2.000 căn hộ cao cấp
								.title_zone_news
									p Doanh nghiệp đang triển khai nhiều dự án ở TP.HCM, Bình Dương, Đồng Nai... bổ sung nguồn cung cấp đang thiếu cho thị trường
				
