<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Main Menu" value="1" resourcefile="" />
       <add name="Main Menu" value="1" resourcefile="" />
      <add name="Footer Menu" value="6" resourcefile="" />
      <add name="Footer Menu 2" value="4" resourcefile="" />
      <add name="Home  About" value="8" resourcefile="" />
      <add name="All Project" value="16" resourcefile="" />
    </position>

</settings>