section.block_about
	.container
		.block_title_about
			.head-title
				h1 giới thiệu vivahomes
		.caption_about
			p Công ty VivaHomes mong muốn mang lại cho khách hàng sự lựa chọn tốt hơn về dòng sản phẩm bất động sản. Với tầm nhìn dài hạn và quan điểm phát triển bền vững. Vivahomes đã tập trung đầu tư vào lĩnh vực phân lô bán nền và nhà phố xây dựng sẵn.
		.row
			.col-lg-12
				.background
					.img 
						img(src="./img/tuyendung/vector_hr.png", alt="")
			.col-lg-4
				.about_list
					ul
						li
							h3 Tầm nhìn
							p Luôn phấn đấu trở thành tập đoàn bất động sản hàng đầu Việt Nam
						li
							h3 sứ mệnh
							p Góp phần kiến tạo công nhân văn tiên tiến, có phong cách sống hiện đại
						li
							h3 giá trị cốt lõi
							p Tín - Trí - Nhân - Tâm
			.col-lg-4
				.card_img_about
					.img
						img(src="./img/gioithieu/about-1.png", alt="")
			.col-lg-4
				.block_list
					ul
						li
							h3
								span.counter(data-count="13") 0
								span +
							span Kinh nhgiệm trong ngành
						li
							h3
								span.counter(data-count="100") 0
								span +
							span Đội ngũ nhân sự giàu kinh nghiệm
						li
							h3
								span.counter(data-count="50") 0
								span +
							span 50+ Dự án