section.project_detail
	.container
		.block_title_project-detail
			h2 Căn hộ Happy One Thạnh Lộc
		//- slide
		.project_detail_slide_gallery
			.swiper-container.gallery-top
				.swiper-wrapper
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/slide-top-1.png", alt="")
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/slide-top-1.png", alt="")
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/slide-top-1.png", alt="")
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/slide-top-1.png", alt="")
			//- .project-detail-swiper-wrapper
			//- 	.nav-arrow-prev
			//- 		em.lnr.lnr-chevron-left
			//- 	.nav-arrow-next
			//- 		em.lnr.lnr-chevron-right
			.swiper-container.gallery-thumbs
				.swiper-wrapper
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/thumb-1.png", alt="")
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/thumb-2.png", alt="")
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/thumb-3.png", alt="")
					.swiper-slide
						.swiper-slide-container
							img(src="./img/project-detail/thumb-4.png", alt="")
		//- silde-end
		.content_slide_project-detail
			p Happy One Thạnh Lộc là dự án Căn hộ thông minh 4.0. Với định hướng đúng đắn và tâm huyết của CĐT Vạn Xuân Group dự án HAPPY ONE THẠNH LỘC được hướng dẫn xu hướng công nghệ dành cho giới trẻ năng động, tri thức và thành đạt. Với 39 tiện ích đi kèm, sử dụng hệ thống Smart Home hiện đại, công nghệ đậu xe an nính, thông minh 24/24.
			p Dự án căn hộ Happy One Thạnh Lộc là sản phẩm căn hộ công nghệ hiện đại bậc nhất lần đầu tiên xuất hiện tại thị trường bất động sản Q.12. Căn hộ hứa hẹn sẽ là chốn an cư, làm việc lý tưởng của các cặp trẻ
			p Căn hộ độc bản Happy One Thạnh Lộc là dự án tồn tại duy nhất trong khu vực có sử dụng smarthome 4.0 dự án độc bản luôn được các gia đình trẻ quan tâm và đón nhận rất nhiều, dự án hứa hẹn sẽ làm nổi bậc thị trường bất động sản tại quận gò vấp nói chung và TP.HCM nói riêng.
		.table_project-detail
			table
				tbody
					tr
						td
							strong Vị trí
						td
							p Hà huy giáp, P.Thạnh Lộc, Quận 12, TP.HCM
					tr
						td
							strong Chủ đầu tư
						td
							p Vạn Xuân Group
					tr
						td
							strong Đơn vị phát triển
						td
							p Công Ty cổ phần BĐS ViVa Home
					tr
						td
							strong Đơn Vị Thiết Kế & Giám sát
						td
							p Công ty TNHH Tư Ván Thiết kế DP
					tr
						td
							strong Tổng Thầu XD
						td
							p Central
					tr
						td
							strong Diện Tích
						td
							p 3.061 m
					tr
						td
							strong Mật độ xây dựng
						td
							p 38.45%
					tr
						td
							strong Quy Mô
						td
							p 1 block, 19 tầng nối + 1 tầng hầm + 210 căn hộ, 3 shophouse, 6 penthouse

//- section 2
section.project-detail-2
	.container
		.block_title_project-detail
			h2 Vị trí dự án Happy One Thạnh Lộc
		.caption_project-detail-2
			p Căn Hộ Happy One Thanh Lộc tọa lạc ngay vị trí trung tâm của Thanh Lộc, khu vực có cộng đồng dân cư hiện hữu,văn minh hiện đại. Dự án Happy One Thạnh Lộc có một vị trí chiến lược và hấp dẫn, nhờ sỡ hữu hệ thống hạ tầng nâng cao giao thông đồng bộ & hiện đại, hạ tầng giao thông kết giao thuận lợi
		.row
			.col-lg-6
				.card_img_project-detail-map
					.img
						img(src="./img/project-detail/project-detail-map.png", alt="")
			.col-lg-6
				.card_img_project-detail-2
					.img
						img(src="./img/project-detail/project-detail-vitridacdia.png", alt="")
//- section 3
section.project-detail-3
	.container
		.row
			.col-lg-6.traffic
				.background
					.img 
						img(src="./img/project-detail/vector-project.png", alt="")
				.content_project-detail-2
					p Tuyến Metro số 4: Nối liền Bến Cát (Gò Vấp) - Khu dô thị Hiệp Phước (Nhà Bè) là tuyến Metro có vốn đầu tư lớn nhất với số vốn đầu tư lớn đến 97.000 tỷ đồng là vì tuyến đường Metro dài nhất với tông chiều dài khoảng 35,675 km Tổng số lượng ga: 33 ga (gồm: 02 ga trên mặt đát, 16 trên ga, 15 ga ngầm). Trong đó, Metro 4B đi qua các quận Gò Vấp <-> Tân Bình <-> Phú Nhuận đều đi ngầm.
					p Tuyến Metro số 4: Nối liền Bến Cát (Gò Vấp) - Khu dô thị Hiệp Phước (Nhà Bè) là tuyến Metro có vốn đầu tư lớn nhất với số vốn đầu tư lớn đến 97.000 tỷ đồng là vì tuyến đường Metro dài nhất với tông chiều dài khoảng 35,675 km Tổng số lượng ga: 33 ga (gồm: 02 ga trên mặt đát, 16 trên ga, 15 ga ngầm). Trong đó, Metro 4B đi qua các quận Gò Vấp <-> Tân Bình <-> Phú Nhuận đều đi ngầm.
					p Tuyến Metro số 4: Nối liền Bến Cát (Gò Vấp) - Khu dô thị Hiệp Phước (Nhà Bè) là tuyến Metro có vốn đầu tư lớn nhất với số vốn đầu tư lớn đến 97.000 tỷ đồng là vì tuyến đường Metro dài nhất với tông chiều dài khoảng 35,675 km Tổng số lượng ga: 33 ga (gồm: 02 ga trên mặt đát, 16 trên ga, 15 ga ngầm). Trong đó, Metro 4B đi qua các quận Gò Vấp <-> Tân Bình <-> Phú Nhuận đều đi ngầm.
			.col-lg-6
				.icon_project-detail-2
					.img
						img(src="./img/project-detail/icon_train.png", alt="")
				.title_project-detail-2
					h1 Tiện ích giao thông
				.img_project-detail-2
					.img
						img(src="./img/project-detail/img-2_project-detail.png", alt="")

//- section 4
section.project-detail-4
	.container
		.block_title_project-detail
			h2 Tiện ích ngoại khu Happy One Thạnh Lộc
		.caption_project-detail-4
			p Căn Hộ Happy One Thanh Lộc tọa lạc ngay vị trí trung tâm của Thanh Lộc, khu vực có cộng đồng dân cư hiện hữu,văn minh hiện đại. Dự án Happy One Thạnh Lộc có một vị trí chiến lược và hấp dẫn, nhờ sỡ hữu hệ thống hạ tầng nâng cao giao thông đồng bộ & hiện đại, hạ tầng giao thông kết giao thuận lợi
		.row
			.col-lg-12
				.card_img_project-detail-4
					.img
						img(src="./img/project-detail/project-detail-tienichngoaiku.png", alt="")


//- section 5
section.project-detail-5
	.container
		.title_project-detail-5
			h2 tin tức mới nhất
		.row
			.col-lg-4
				.news-project-detail
					.bottom-wrapper-news-detail
						time 17.06.2020
					.wrapper
						a(href="")
							.img.shine 
								img(src="./img/index-tintuc/tintuc-2.png", alt="")
							.content
								.title_news
									a(href="") Bật động sản quận 12 đón sóng đầu tư đầu năm 2020
								.title_zone_news
									p Quận 12, TP.HCM là điểm đến mới của nhà đầu tư khi nhu cầu sở hữu nhà ở, nhất là phân khúc căn hộ cao cấp bắt đầu tăng mạnh gần đây.
			.col-lg-4
				.news-project-detail
					.bottom-wrapper-news-detail
						time 17.06.2020
					.wrapper
						a(href="")
							.img.shine 
								img(src="./img/index-tintuc/tintuc-2.png", alt="")
							.content
								.title_news
									a(href="") Bật động sản quận 12 đón sóng đầu tư đầu năm 2020
								.title_zone_news
									p Quận 12, TP.HCM là điểm đến mới của nhà đầu tư khi nhu cầu sở hữu nhà ở, nhất là phân khúc căn hộ cao cấp bắt đầu tăng mạnh gần đây.
			.col-lg-4
				.news-project-detail
					.bottom-wrapper-news-detail
						time 17.06.2020
					.wrapper
						a(href="")
							.img.shine 
								img(src="./img/index-tintuc/tintuc-2.png", alt="")
							.content
								.title_news
									a(href="") Bật động sản quận 12 đón sóng đầu tư đầu năm 2020
								.title_zone_news
									p Quận 12, TP.HCM là điểm đến mới của nhà đầu tư khi nhu cầu sở hữu nhà ở, nhất là phân khúc căn hộ cao cấp bắt đầu tăng mạnh gần đây.
			.col-lg-12
				.btn-view
					a(href="") xem thêm
					em.mdi.mdi-arrow-right

//- section 6
section.project-detail-6
	.container
		.row
			.col-lg-3
				.left_project-detail
					.title-wrapper
						h2 Thư Viện
					ul
						li
							.title
								a(href="") hình ảnh
						li
							.title
								a(href="") video
			.col-lg-9
				//- .project-swiper-wrapper
				//- 	.nav-arrow-prev
				//- 		em.mdi.mdi-arrow-left
				//- 	.nav-arrow-next
				//- 		em.mdi.mdi-arrow-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.wrapper
								a(href="")
									.img.shine 
										img(src="./img/project-detail/project-detail-6_slide.png", alt="")
									.content_project
										.title
											h3 PHỐI CẢNH HAPPY ONE THẠNH LỘC
										//- .text
										//- 	p là sản phẩm căn hộ công nghệ hiện đại bậc nhất lần đầu xuất hiện tại thị trường bất động sản Q12. Căn hộ hứa hẹn sẽ là chốn an cư, làm việc lý tưởng của các cặp gia đình trẻ

//- section
.project-detail-7
	.container
		.row
			.col-lg-4
				.left_project-detail-7
					.title
						h2 thông tin liên hệ
					.card-body
						ul
							li
								strong Trụ sở tư vấn
								p 20 Đường Vườn Lài nối dài, Phường An Phú Đông, Quận 12, Thành phố Hồ Chí Minh
							li
								strong Hotline
								p (+84) 2873 066 366
							li
								strong Website dự án
								p đang cập nhật
			.col-lg-8
				.text 
					p Đăng ký nhận thông tin
				.wrap-form
					.row
						.form-group.col-12.col-md-6.col-6
							label HỌ & TÊN
							input.form-control(type='text',placeholder="Nhập họ tên")
						.form-group.col-12.col-md-6.col-6
							label SỐ ĐIỆN THOẠI
							input.form-control(type='text',placeholder="Nhập số điện thoại")
						.form-group.col-12
							label EMAIL
							input.form-control(type='text',placeholder="Nhập họ tên")
					.frm-btnwrap
						.frm-btn
							input(type="submit" value ="ĐĂNG KÝ")